@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Creal";
  src: url("./fonts/5fd07762093e40beee85d22757cc6d8d.woff2") format("woff2"),
    url("./fonts/5fd07762093e40beee85d22757cc6d8d.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/f5a1414f8fe9188766b39607d923fbb9.woff2") format("woff2"),
    url("./fonts/f5a1414f8fe9188766b39607d923fbb9.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/3d32e753a2cefc56ce239b04cce45490.woff2") format("woff2"),
    url("./fonts/3d32e753a2cefc56ce239b04cce45490.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/7ab640c091619f9534886523d3cde66f.woff2") format("woff2"),
    url("./fonts/7ab640c091619f9534886523d3cde66f.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/855b722e0240c397005b340b1baf8780.woff") format("woff2"),
    url("./fonts/855b722e0240c397005b340b1baf8780.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Creal', sans-serif;


}

.tippy-box[data-animation=fade][data-state=hidden]{
    opacity:0
  }
  [data-tippy-root]{
    max-width:calc(100vw - 10px)
  }
  .tippy-box{
    position:relative;
    background-color:#ffffff;
    color:#000!important;
    border-radius:4px;
    font-size:14px;
    line-height:1.4;
    outline:0;
    transition-property:transform,visibility,opacity
  }
  .tippy-box[data-placement^=top]>.tippy-arrow{
    bottom:0
  }
  .tippy-box[data-placement^=top]>.tippy-arrow:before{
    bottom:-7px;
    left:0;
    border-width:8px 8px 0;
    border-top-color:initial;
    transform-origin:center top
  }
  .tippy-box[data-placement^=bottom]>.tippy-arrow{
    top:0
  }
  .tippy-box[data-placement^=bottom]>.tippy-arrow:before{
    top:-7px;
    left:0;
    border-width:0 8px 8px;
    border-bottom-color:initial;
    transform-origin:center bottom
  }
  .tippy-box[data-placement^=left]>.tippy-arrow{
    right:0
  }
  .tippy-box[data-placement^=left]>.tippy-arrow:before{
    border-width:8px 0 8px 8px;
    border-left-color:initial;
    right:-7px;
    transform-origin:center left
  }
  .tippy-box[data-placement^=right]>.tippy-arrow{
    left:0
  }
  .tippy-box[data-placement^=right]>.tippy-arrow:before{
    left:-7px;
    border-width:8px 8px 8px 0;
    border-right-color:initial;
    transform-origin:center right
  }
  .tippy-box[data-inertia][data-state=visible]{
    transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)
  }
  .tippy-arrow{
    width:16px;
    height:16px;
    color:#ffffff
  }
  .tippy-arrow:before{
    content:"";
    position:absolute;
    border-color:transparent;
    border-style:solid
  }
  .tippy-content{
    position:relative;
    padding:5px 9px;
    z-index:1
  }
  
  .tippy-box {
  background-color: rgb(0, 0, 0, 0.8);
  color: white!important;
  transition: all 0.1s;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  
  }
  .tippy-arrow {
  color: transparent;
  }
  .tippy-box[data-animation=scale][data-placement^=top]{
    transform-origin:bottom
  }
  .tippy-box[data-animation=scale][data-placement^=bottom]{
    transform-origin:top
  }
  .tippy-box[data-animation=scale][data-placement^=left]{
    transform-origin:right
  }
  .tippy-box[data-animation=scale][data-placement^=right]{
    transform-origin:left
  }
  .tippy-box[data-animation=scale][data-state=hidden]{
    transform:scale(.5);
    opacity:0
  }
  
  /* PULSE AVATAR */
  .pulse-avatar-DND {
      background-color: #F04747;
      border-radius: 50%;
      animation: pulse-dnd 2s infinite;
    }
    .pulse-avatar-ONLINE {
      background-color: #43B581;
      border-radius: 50%;
      animation: pulse-online 2s infinite;
    }
    .pulse-avatar-IDLE {
      background-color: #FAA61A;
      border-radius: 50%;
      animation: pulse-idle 2s infinite;
    }
    .pulse-avatar-OFFLINE {
      background-color: #747F8D;
      border-radius: 50%;
      animation: pulse-offline 2s infinite;
    }
    
    
    @keyframes pulse-dnd {
      0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
      }
    }
    @keyframes pulse-idle {
      0% {
        box-shadow: 0 0 0 0 rgba(250, 166, 26, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(250, 166, 26, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(250, 166, 26, 0);
      }
    }
    @keyframes pulse-online {
      0% {
        box-shadow: 0 0 0 0 rgba(67, 181, 129, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(67, 181, 129, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(67, 181, 129, 0);
      }
    }
    @keyframes pulse-offline {
      0% {
        box-shadow: 0 0 0 0 rgba(116, 127, 141, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(116, 127, 141, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(116, 127, 141, 0);
      }
    }
    
    /* Spotify Heart animation */


    .svg {
      height: 23px;
      overflow: visible;
      cursor: pointer;
    }
    
    label {
      transform: translateX(-25px);
    }
    
    input[type=checkbox] {
      display: none;
    }
    
    input[type=checkbox] + label {
 
      position: relative;
      display: grid;
      place-content: center;
    }
    input[type=checkbox] + label #center-heart #inner {
      fill: transparent;
      transition: 0.2s ease;
    }
    input[type=checkbox] + label #center-heart #outer {
      fill: white;
      transition: 0.2s ease;
    }
    input[type=checkbox] + label #left-hearts > *,
    input[type=checkbox] + label #right-hearts > * {
      opacity: 0;
      transition: 0.2s ease;
    }
    
    input[type=checkbox]:checked + label {
      cursor: pointer;
    }
    input[type=checkbox]:checked + label::before, input[type=checkbox]:checked + label::after {
      content: "";
      display: grid;
      border-radius: 100%;
      position: absolute;
      outline: 25px solid red;
      outline-offset: -25px;
      -webkit-animation: scalePulse 0.5s cubic-bezier(0.12, 0.84, 0.5, 0.44) forwards;
              animation: scalePulse 0.5s cubic-bezier(0.12, 0.84, 0.5, 0.44) forwards;
    }
    input[type=checkbox]:checked + label::after {
      opacity: 1;
      transform: scale(0);
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
    }
    input[type=checkbox]:checked + label #center-heart #inner {
      fill: red;
    }
    input[type=checkbox]:checked + label #center-heart #outer {
      fill: red;
    }
    input[type=checkbox]:checked + label #left-hearts > *,
    input[type=checkbox]:checked + label #right-hearts > * {
      transform-origin: center center;
      -webkit-animation: floatingHearts 0.65s cubic-bezier(0.12, 0.84, 0.5, 0.44) forwards;
              animation: floatingHearts 0.65s cubic-bezier(0.12, 0.84, 0.5, 0.44) forwards;
    }
    input[type=checkbox]:checked + label #right-hearts g:first-child {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }
    input[type=checkbox]:checked + label #right-hearts g:last-child {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
    }
    input[type=checkbox]:checked + label #left-hearts g:first-child {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
    }
    input[type=checkbox]:checked + label #left-hearts g:last-child {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
    }
    
    @-webkit-keyframes floatingHearts {
      0% {
        opacity: 0;
        transform: translateY(10px);
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
        transform: translateY(-50px);
      }
    }
    
    @keyframes floatingHearts {
      0% {
        opacity: 0;
        transform: translateY(10px);
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
        transform: translateY(-50px);
      }
    }
    @-webkit-keyframes scalePulse {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1.1);
        opacity: 0;
      }
    }
    @keyframes scalePulse {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1.1);
        opacity: 0;
      }
    }


    .layout-color {
      left: 0;
      top: 0;
      bottom: 0;
      max-width: 100%;
      width: 100%;
      filter: blur(100px);
      opacity: 25%;
      z-index: -1;
      position: fixed;
    }
    
    .layout-right {
      background: radial-gradient(at 70% 70%, #cc24eed2 5%, #4649a817 50%);
    }
    
    .layout-left {
      
      background: radial-gradient(at 30% 30%, #252abbf5 5%, #4649a817 50%);
    
    
    }
    