@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Creal";
  src: url("./fonts/5fd07762093e40beee85d22757cc6d8d.woff2") format("woff2"),
    url("./fonts/5fd07762093e40beee85d22757cc6d8d.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/f5a1414f8fe9188766b39607d923fbb9.woff2") format("woff2"),
    url("./fonts/f5a1414f8fe9188766b39607d923fbb9.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/3d32e753a2cefc56ce239b04cce45490.woff2") format("woff2"),
    url("./fonts/3d32e753a2cefc56ce239b04cce45490.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/7ab640c091619f9534886523d3cde66f.woff2") format("woff2"),
    url("./fonts/7ab640c091619f9534886523d3cde66f.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creal";
  src: url("./fonts/855b722e0240c397005b340b1baf8780.woff") format("woff2"),
    url("./fonts/855b722e0240c397005b340b1baf8780.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Creal', sans-serif;


}

.tippy-box[data-animation=fade][data-state=hidden]{
    opacity:0
  }
  [data-tippy-root]{
    max-width:calc(100vw - 10px)
  }
  .tippy-box{
    position:relative;
    background-color:#ffffff;
    color:#000!important;
    border-radius:4px;
    font-size:14px;
    line-height:1.4;
    outline:0;
    transition-property:transform,visibility,opacity
  }
  .tippy-box[data-placement^=top]>.tippy-arrow{
    bottom:0
  }
  .tippy-box[data-placement^=top]>.tippy-arrow:before{
    bottom:-7px;
    left:0;
    border-width:8px 8px 0;
    border-top-color:initial;
    transform-origin:center top
  }
  .tippy-box[data-placement^=bottom]>.tippy-arrow{
    top:0
  }
  .tippy-box[data-placement^=bottom]>.tippy-arrow:before{
    top:-7px;
    left:0;
    border-width:0 8px 8px;
    border-bottom-color:initial;
    transform-origin:center bottom
  }
  .tippy-box[data-placement^=left]>.tippy-arrow{
    right:0
  }
  .tippy-box[data-placement^=left]>.tippy-arrow:before{
    border-width:8px 0 8px 8px;
    border-left-color:initial;
    right:-7px;
    transform-origin:center left
  }
  .tippy-box[data-placement^=right]>.tippy-arrow{
    left:0
  }
  .tippy-box[data-placement^=right]>.tippy-arrow:before{
    left:-7px;
    border-width:8px 8px 8px 0;
    border-right-color:initial;
    transform-origin:center right
  }
  .tippy-box[data-inertia][data-state=visible]{
    transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)
  }
  .tippy-arrow{
    width:16px;
    height:16px;
    color:#ffffff
  }
  .tippy-arrow:before{
    content:"";
    position:absolute;
    border-color:transparent;
    border-style:solid
  }
  .tippy-content{
    position:relative;
    padding:5px 9px;
    z-index:1
  }
  
  .tippy-box {
  background-color: rgb(0, 0, 0, 0.8);
  color: white!important;
  transition: all 0.1s;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  
  }
  .tippy-arrow {
  color: transparent;
  }
  .tippy-box[data-animation=scale][data-placement^=top]{
    transform-origin:bottom
  }
  .tippy-box[data-animation=scale][data-placement^=bottom]{
    transform-origin:top
  }
  .tippy-box[data-animation=scale][data-placement^=left]{
    transform-origin:right
  }
  .tippy-box[data-animation=scale][data-placement^=right]{
    transform-origin:left
  }
  .tippy-box[data-animation=scale][data-state=hidden]{
    transform:scale(.5);
    opacity:0
  }
  
  /* PULSE AVATAR */
  .pulse-avatar-DND {
      background-color: #F04747;
      border-radius: 50%;
      animation: pulse-dnd 2s infinite;
    }
    .pulse-avatar-ONLINE {
      background-color: #43B581;
      border-radius: 50%;
      animation: pulse-online 2s infinite;
    }
    .pulse-avatar-IDLE {
      background-color: #FAA61A;
      border-radius: 50%;
      animation: pulse-idle 2s infinite;
    }
    .pulse-avatar-OFFLINE {
      background-color: #747F8D;
      border-radius: 50%;
      animation: pulse-offline 2s infinite;
    }
    
    
    @keyframes pulse-dnd {
      0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
      }
    }
    @keyframes pulse-idle {
      0% {
        box-shadow: 0 0 0 0 rgba(250, 166, 26, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(250, 166, 26, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(250, 166, 26, 0);
      }
    }
    @keyframes pulse-online {
      0% {
        box-shadow: 0 0 0 0 rgba(67, 181, 129, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(67, 181, 129, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(67, 181, 129, 0);
      }
    }
    @keyframes pulse-offline {
      0% {
        box-shadow: 0 0 0 0 rgba(116, 127, 141, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(116, 127, 141, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(116, 127, 141, 0);
      }
    }